<div class="return">
    <button routerLink="/users" type="button" class="btn btn-outline-secondary"><i class="fas fa-caret-left"></i> Do listy użytkowników</button>
</div>


<div class="user-details">

    <p class="name">{{user.firstName}} {{user.lastName}}</p>
    <div class="other">
        <p><strong>Login: </strong> {{user.username}}</p>
        <p><strong>Email: </strong> {{user.email}}</p>
        <p *ngIf="user.role == 0"><strong>Typ użytkownika: </strong> Nowe konto</p>
        <p *ngIf="user.role == 1"><strong>Typ użytkownika:</strong> Sprawdzony</p>
        <p *ngIf="user.role == 2"><strong>Typ użytkownika: </strong> Pracownik</p>
        <p *ngIf="user.role == 3"><strong>Typ użytkownika: </strong> Administrator</p>
        <p><strong>Wypożyczone książki: </strong> {{user.copies.length}}</p>
    </div>
    <hr class="solid">

</div>




<div class="user-copies">

    <p>Wypożyczone książki:</p>

<div *ngIf="user.copies.length>0" class="table-responsive">

    <table class="table table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th class="th-sm" scope="col">Nr. Kopii</th>
            <th class="th-sm" scope="col">Tytuł książki</th>
            <th class="th-sm" scope="col">Status</th>
            <th class="th-sm" scope="col">Stron</th>
            <th class="th-sm" scope="col">Data wypożyczenia</th>
            <th class="th-sm" scope="col">Data zwrotu</th>
            <th class="th-sm" scope="col">Akcja</th>
          </tr>
        </thead>
        <tbody  class="tbody-dark">
          <tr *ngFor="let details of borrowDetails">
            <td>{{details.copyId}}</td>
            <td><a class="book-title" routerLink="/books/{{details.copyId}}">{{details.bookTitle}}</a></td>
            <td class="text-success" *ngIf="dayDifference(details.returnDate)>0">
            {{dayDifference(details.returnDate)}} dni do terminu</td>
            <td class="text-warning" *ngIf="dayDifference(details.returnDate)==0">Zwrot dziś</td>
            <td class="text-danger" *ngIf="dayDifference(details.returnDate)<0">{{dayDifference(details.returnDate) | absoluteValue}} dni po terminie</td>

            <td>{{details.pages}}</td>

            <td *ngIf="details.borrowDate">{{details.borrowDate | date:'dd-MM-yyyy'}}</td>
            <td *ngIf="!details.borrowDate">----------------------</td>
            
            <td *ngIf="details.returnDate">{{details.returnDate | date:'dd-MM-yyyy'}}</td>
            <td *ngIf="!details.returnDate">----------------------</td>
              
            <td class="center">-------</td>
          </tr>
        </tbody>
      </table>
    </div>

</div>

<div *ngIf="user.copies.length==0" class="user-copies">
      <h5>Ten użytkownik obecnie nie posiada żadnych wypożyczonych książek.</h5>
</div>