.user-details-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 57%;
}

.user-name {
  font-weight: bold;
  font-size: 1.6em;
}

.user-info {
  margin-left: 1em;
}

.user-info p {
  margin-bottom: .1em;
  font-weight: 500;
  font-size: 1.1em;
}

.solid {
  width: 57%;
  margin-top: 0;
}

.table-title {
  margin-right: 45%;
  font-size: 1.2em;
  font-weight: bold;
}

.user-copies {
  display: flex;
  width: 56%;
  align-self: center;
}

.table {
  margin: auto;
  font-weight: bold;
}

.book-title {
  color: black;
}

.copies-not-found {
  margin: auto
}
