.solid {
    position: relative;
    width: 60%;
    right: 420px;
    bottom: 330px;
}

.date {
    position: relative;
    left: 250px;
    bottom: 230px;
    font-weight: 700;
  }

.memoir {
    position: relative;
    width: 40%;
    left: 300px;
    bottom: 350px;
}

.books-header {
    position: relative;
    bottom: 300px;
    left: 150px;
}

.author-books {
    position: relative;
    bottom: 400px;
    left: 150px;
}

.list-container p {
    left: 140px;
  }

.solid-bk {
    position: relative;
    width: 70%;
    right: 300px;
    top: 15px;
}

.list-container ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

ul.categories li{
    position: relative;
    left: 30px;
    bottom: 15px;
    list-style: none;
}

ul.categories li a {
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
}

.description {
    top: 110px;
}


/*  */

.copies {
    position: relative;
    left: 160px;
    bottom: 120px;
  }
  
  .table {
    max-width: 50%;
  }
  
  .center {
    text-align: center;
  }
  
  
  .detail-view {
    position: relative;
    top: 20px;
    left: 160px;   
   }
   
   .detail-view img {
       width: 200px;
   }
   
   .detail-view h2 {
       position: relative;
       left: 250px;
       top: 50px;
       font-weight: bold;
       color: black;
   }
   
   .detail-view .author {
       position: relative;
       bottom: 60px;
       left: 50px;
       font-size: 22px;
       font-weight: bold;
       color: black;
   }
   
   .detail-view p {
       position: relative;
       bottom: 170px;
       left: 420px;
       width: 30%;
       min-height: 150px;
       font-size: 20px;
   }