<div class="author-details-container">

    <div class="return">
        <button routerLink="" type="button" class="btn btn-outline-secondary"><i class="fas fa-caret-left"></i> Do listy książek</button>
    </div>

    <div class="detail-view">
        <figure>
            <img src="{{author.imageUrl}}" alt="zdj {{author.lastName}}" class="img-responsive author-img">
        </figure>
            
        <div class="author-details">
            <div class="header-container">
               
                <h2>{{author.firstName}} {{author.lastName}}</h2>

                <button class="btn btn-dark btn-delete"
                *ngIf="books.length == 0"
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="right"
                (confirm)="deleteAuthor()"><i class="far fa-trash-alt"></i> Delete
                </button>
            
                <button class="btn btn-dark btn-delete"
                *ngIf="books.length > 0"
                disabled
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="right"
                (confirm)="deleteAuthor()"><i class="far fa-trash-alt"></i> Delete
                </button>
            </div>
            
            <p class="date">Urodziny: {{author.birthDate | date:'dd-MM-yyyy'}}</p>
            
            <p class="memoir">{{author.memoir | slice:0:600}}</p>
        </div>        

    </div>
 
    <hr class="solid">

    <h4 class="books-header">Książki Autora:</h4>

    <div class="author-books">        
        <div *ngFor="let book of books">
            <div class="book-container">
                <figure>
                    <img src="{{book.imageUrl}}" alt="book picture" class="book-img">
                </figure>

                <div class="book-details">
                    <a routerLink="/books/{{book.id}}" class="book-link">
                        <h3>{{book.title}}</h3>
                    </a>
                    
                    <ul class="list categories" >
                        <li *ngFor="let category of book.categories">
                            <a routerLink="/books/category/{{category.id}}" class="category-link">{{category.name}}</a>
                        </li>
                    </ul>
                    
                    <p class="description">
                        {{book.description | slice:0:100}}..
                        <a routerLink="/book/{{book.id}}" class="book-link">Czytaj dalej</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>