.author-details-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.detail-view {
    display: flex;
    width: 60%;
}

.author-img {
    width:11vw;
    height: auto;
    border: 1px solid #333;
    border-radius: .2em;
}

.author-details {
    margin-left: 2em;
}

.date {
    margin: 1em;
    font-weight: bold;
    font-size: 1em;
}

.memoir {
    width: 80%;
    margin: 1em;
    font-size: 1em;
}

.solid {
    width: 70%;
}

.books-header {
    width: 70%;
    font-size: 1.6em;
}

.author-books {
    width: 70%;
}

.book-container {
    display: flex;
    margin: 2em;
}


.book-img {
    width: 7vw;
    border: 1px solid #333;
    border-radius: .2em;
}

.book-details {
    display: flex;
    margin-left: 2em;
    flex-direction: column;
}

.categories {
    display: flex;
    margin-left: 1em;
    padding: 0;
}

.category-link, .book-link {
    margin: 3px;
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.description {
    width: 50%;
    margin-left: 1em;
}