body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(218, 212, 201);
}

.list-container {
  position: relative;
  top: 90px;
  left: 5%;
  width: 70%;
}

.list-container img {
  width: 7%;
}

.list-container h3 {
  position: relative;
  top: 42px;
  left: 120px;
}

.list-container .author {
  position: relative;
  padding: 2px;
  left: 50px;
}

.list-container a {
  color: black;
  font-weight: bold;
  transition: color .3s;
}

.list-container a:hover {
  color: royalblue;
}

.list-container p {
  position: absolute;
  overflow: hidden;
  left: 350px;
  top: 80px;
  width: 50%;
}

hr.solid {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 2%;
  border-top: 1px solid black;
}

.pagination-up{
  position: absolute;
  top: 55px;
  left: 50%;
  font-size: 20px;
  font-weight: 700;
}

.pagination-down {
  position: relative;
  margin-bottom: 40px;
  top: 120px;
  left: 52%;
}

.search-buttons {
  position: absolute;
  left: 32%;
  margin: 40px;
}
.search-buttons button {
  margin: 0 5px 0 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* -------------------------------------- */

.return {
  align-self: flex-start;
  margin-top: 2em;
  margin-left: 2em;
}

.return-btn {
  font-size: 1em;
  font-weight: bold;
}

.list {
  list-style: none;
}
