body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(218, 212, 201);
}

.solid {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 2%;
  border-top: 1px solid black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* -------------------book list + search component shared classes */

.book-list {
  width: 70%;
  margin-left: 7em;
}

.book-container {
  display: flex;
  width: 90%;
  margin-top: 1em;
}

.book-details {
  display: flex;
  flex-direction: column;
  margin: 1em 2em;
  white-space: nowrap;
}

.book-img {
  width:6vw;
  height: auto;
  border: 1px solid #333;
  border-radius: .2em;
}

.author {
padding: 2px;
margin-left: .3em;
font-size: 1.15em;
}

.categories {
  margin-left: .4em;
}

.categories ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories li a {
  font-size: 1em;
  font-weight: 600;
  margin: 5px;
}

.description {
overflow: hidden;
margin-top: 2em;
flex-grow: 1;
}

/* -------------------------------------- */

.return {
  align-self: flex-start;
  margin-top: 2em;
  margin-left: 2em;
}

.return-btn {
  font-size: 1em;
  font-weight: bold;
}

.list {
  list-style: none;
}


