<div class="author-container">

    <form class="photo-form">
        <img [src]="imageSrc" class="img">
        <input (change)="showImg($event)" type="file" class="img-input" accept=".png, .img, .jpng">
    </form>


    <form #form="ngForm" class="add-form" autocomplete="off" (submit)="onSubmit()">
        <p class="error-msg">{{errorMessage}}</p>
        <div class="field form-group add-group">
            <p class="field-title">Imie</p>
            <input type="text" name="author.firstName" min="1" oninput="validity.valid||(value='');" [(ngModel)]="author.firstName" class="add-input form-control input" [class.is-invalid]="!isValid && author.firstName == null">
        </div>
        <div class="field form-group add-group">
            <p class="field-title">Nazwisko</p>
            <input type="text" name="author.lastName" min="1" oninput="validity.valid||(value='');" [(ngModel)]="author.lastName" class="add-input form-control input" [class.is-invalid]="!isValid && author.lastName == null">
        </div>
        <div class="field form-group add-group">
            <p class="field-title">Opis</p>
            <input type="text" name="author.memoir" min="1" oninput="validity.valid||(value='');" [(ngModel)]="author.memoir" class="add-input form-control input" [class.is-invalid]="!isValid && author.memoir == null">
        </div>
        <div class="field form-group add-group">
            <p class="field-title">Data urodzin</p>
            <input type="date" name="author.birthDate" [(ngModel)]="author.birthDate" class="add-input form-control input" [class.is-invalid]="!isValid && author.birthDate == null">
        </div>

        <button type="submit" class="add-btn btn btn-outline-secondary">Dodaj</button>
        <button [mat-dialog-close] class="btn-close btn btn-dark">Zamknij</button>
    </form>

</div>
