

<div *ngIf="searchForBooks">

  <div  class="search-buttons">
    <button (click)="buttonPress(true)" type="button" class="btn btn-secondary active btn-lg">Książki</button>
    <button (click)="buttonPress(false)" type="button" class="btn btn-secondary btn-lg">Autorzy</button>
  </div>
  
  <div *ngFor="let book of books">
    <div class="list-container">

      <a routerLink="/book/{{book.id}}">
        <h3>{{book.title}}</h3>
        <img src="{{book.imageUrl}}" alt="book picture" class="img-responsive">
      </a>

      <a routerLink="/author/{{book.authorId}}" class="author">{{book.authorName}}</a>

      <p>
        {{book.description | slice:0:200}}..
        <a routerLink="/book/{{book.id}}">Czytaj dalej</a>
      </p>
      <hr class="solid">
    </div>
  </div>

</div>

<div *ngIf="!searchForBooks">

  <div  class="search-buttons">
    <button (click)="buttonPress(true)" type="button" class="btn btn-secondary  btn-lg">Książki</button>
    <button (click)="buttonPress(false)" type="button" class="btn btn-secondary active btn-lg">Autorzy</button>
  </div>

  <div class="list-container" *ngFor="let author of authors">

    <a routerLink="/author/{{author.id}}">
      <h3>{{author.firstName}} {{author.lastName}}</h3>
      <img src="{{author.imageUrl}}" alt="zdjęcie {{author.firstName}}" class="img-responsive">
    </a>

    <div class="date">
      <p class="author">Urodziny: {{author.birthDate | date:'dd-MM-yyyy'}}</p>
    </div>

    <p>
      {{author.memoir | slice:0:200}}..
      <a routerLink="/author/{{author.id}}">Sprawdź</a>
    </p>


    <hr class="solid">
  </div>

</div>
