
.search-container {
  display: flex;
  flex-direction: column;
}

.search-buttons {
  align-self: center;
  margin: 2em;
}

.btn {
  margin: 0 5px 0 5px;
}


/* Author's classes */

.author-list {
  width: 70%;
  margin-left: 7em;
}

.author-container {
  display: flex;
  width: 90%;
  margin-top: 1em;
}

.author-details {
  display: flex;
  flex-direction: column;
  margin: 1em 2em;
  min-width: 30%;
  white-space: nowrap;
}

.author-img {
  width: 6vw;
  height: auto;
  border: 1px solid #333;
  border-radius: .2em;
}

.date {
  padding: 2px;
  margin-left: .3em;
  font-size: 1.15em;
}

.memoir {
  overflow: hidden;
  margin-top: 2em;
  width: 50%;
  flex-grow: 1;
}

/* TODO: a paragraphs */
a {
  color: black;
  font-weight: bold;
}
