.list-container .date {
    position: absolute;
    width: 100vw;
    left: 80px;
    top: 70px;
    font-weight: 700;
  }

  .list-container .author {
    top: 18px;
  }

  .categories li{
    display: inline;
    position: relative;
    left: 80px;
    bottom: 100px;
    list-style: none;
}

.categories li a {
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
}
