.search-buttons {
  position: absolute;
  left: 32%;
  margin: 40px;
}

.search-buttons button {
  margin: 0 5px 0 5px;
}

.list-container .date {
    position: absolute;
    width: 100vw;
    left: 80px;
    top: 70px;
    font-weight: 700;
  }

  .list-container .author {
    top: 18px;
  }

  .list-container ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    left: 120px;
    bottom: 95px;
    list-style: none;
}

.categories li a {
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
}

.list-container a {
    top: 20px;
}

.list-container {
  position: relative;
  top: 90px;
  left: 5%;
  width: 70%;
}

.list-container img {
  width: 7%;
}

.list-container h3 {
  position: relative;
  top: 42px;
  left: 120px;
}

.list-container .author {
  position: relative;
  padding: 2px;
  left: 50px;
}

.list-container a {
  color: black;
  font-weight: bold;
  transition: color .3s;
}

.list-container a:hover {
  color: royalblue;
}

.list-container p {
  position: absolute;
  overflow: hidden;
  left: 350px;
  top: 80px;
  width: 50%;
}
