.book-list-container {
  display: flex;
  flex-direction: column;
}

.pagination-up {
    align-self: flex-end;
    margin: 2em 14vw 2em 0;
    font-size: 1.2em;
    font-weight: 700;
  }
  
  .pagination-down {
    align-self: flex-end;
    margin: 2em 14vw 2em 0;
  }



/* TODO: a paragraphs */
  a {
    color: black;
    font-weight: bold;
}