<div class="book-list-container">

  <div class="pagination-up">
    <span>ilość książek na stronie: </span>
    <select  (change)="updatePageSize($event.target.value)">
      <option selected="true">5</option>
      <option>10</option>
      <option>15</option>
      <option>2</option>
    </select>
  </div>

  <div class="book-list" *ngFor="let book of books">
    <div class="book-container">
      
      <figure>
        <img src="{{book.imageUrl}}" alt="book picture" class="book-img img-responsive">
      </figure>
      
      <div class="book-details">
        <a routerLink="/books/{{book.id}}">
          <h3>{{book.title}}</h3> 
        </a>
        
        <a routerLink="/authors/{{book.authorId}}" class="author">{{book.authorName}}</a>   
        
        <div class="categories">
          <ul *ngFor="let category of book.categories">
            <li><a routerLink="/books/category/{{category.id}}">{{category.name}}</a></li>
          </ul>
        </div>
      </div>
      
      <p class="description">
        {{book.description | slice:0:200}}..
        <a routerLink="/books/{{book.id}}">Czytaj dalej</a>
      </p>
    </div>
    
    <hr class="solid">
  </div>

  
  <ngb-pagination [(page)]="pageNumber"
  [(pageSize)]="pageSize"
  [(collectionSize)]="totalElements"
  [maxSize]="3"
  (pageChange)="getBooks()"
  class="pagination-down">
</ngb-pagination>

</div>