<div class="register-container flex-column">
    <i [mat-dialog-close] class="dialog-close fas fa-times"></i>
    <div class="header flex-column">
        <p class="title">Rejestracja</p>
        <p *ngIf="invalidCredentials" class="error-msg">{{errorMessage}}</p>
    </div>
    <div class="flex-column">
        <div class="inputs">
            <p class="input-header">Email</p>
            <input class="login-input" name="email" type="email" [(ngModel)]="email" email>
            <p class="input-header">Imię</p>
            <input class="login-input" type="text" [(ngModel)]="firstName">
            <p class="input-header">Nazwisko</p>
            <input class="login-input" type="text" [(ngModel)]="lastName">
            <p class="input-header">Hasło</p>
            <input class="login-input" type="password" [(ngModel)]="password">
        </div>
        <div class="flex-column buttons">
            <button class="btn-auth" type="submit" (click)=handleRegistration() >Zarejestruj</button>
        </div>
    </div>

</div>
