
<div class="user-list-container">
    <h4>Lista użytkowników:</h4>

    <mat-form-field>
      <mat-label>Filtr</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="szukaj.." #input>
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> imie </th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
      </ng-container>
          
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nazwisko </th>
        <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
      </ng-container>
          
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> login </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>
          
      <ng-container matColumnDef="email" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>
        
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> rola </th>
        <td mat-cell *matCellDef="let user"> 
          <p *ngIf="user.role == 0">Nowe konto</p>
          <p *ngIf="user.role == 1">Sprawdzony</p>
          <p *ngIf="user.role == 2">Pracownik</p>
          <p *ngIf="user.role == 3" style="font-weight: bold;">Administrator</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="copies" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Wypożyczeń </th>
        <td mat-cell *matCellDef="let user"> {{user.copies.length}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell  *matHeaderCellDef > akcje </th>
        <td mat-cell *matCellDef="let user" > 
          <a routerLink="/users/{{user.id}}"><button type="button" class="btn btn-sm btn-info" 
          >Szczegóły</button></a>
          <button type="button" class="btn btn-sm btn-success activate-btn" *ngIf="user.role == 0" (click)="activateUser(user)">Aktywuj</button>
          <button type="button" class="btn btn-sm btn-secondary" *ngIf="user.role == 1" (click)="deActivateUser(user)">Dezaktywuj</button>
          <button
              *ngIf="user.copies.length == 0"
              class="btn btn-sm btn-dark"
              mwlConfirmationPopover
              [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage"
              placement="left"
              (confirm)="deleteUser(user)">
              Usuń
         </button>
         <button
              *ngIf="user.copies.length > 0"
              class="btn btn-sm btn-dark btn-disabled"
              disabled
              mwlConfirmationPopover
              [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage"
              placement="left"
              (confirm)="deleteUser(user)">
              Usuń
          </button>
          <p class="disabled-msg">Użytkownik posiada wypożyczone kopie!</p>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nie znaleziono: "{{input.value}}"</td>
      </tr>
    </table>


    </div>
