<div class="login-container flex-column">
    <i [mat-dialog-close] class="dialog-close fas fa-times"></i>
    <div class="header flex-column">
        <p class="title">Login</p>
        <p class="error-msg"></p>
    </div>
    <form class="flex-column">
        <div class="inputs">
            <p class="input-header">Email</p>
            <input class="login-input" type="text">
            <p class="input-header">Hasło</p>
            <input class="login-input" type="password">
        </div>
        <div class="flex-column buttons">
            <button type="submit">Zaloguj</button>
            <button>Rejestracja</button>
        </div>
    </form>

</div>
