ul {
    padding: 0;
    margin: 5px 0 2px 20%;
    font-size: 1.2em;
    list-style: none;
  }
  
ul a {
    color: lightslategray;
  }
  
h4 {
    margin: 10% 0 5% 5%;
    color: white;
    font-size: 1.3em;
} 