.aside-menu-container{
  display: flex;
  flex-direction: column;
}

.title {
  margin: 1.5em 0 .1em 1.2em;
  word-spacing: .15em;
  font-size: 1.3em;
  color: white;
}

.aside-solid {
  margin: 0 0 .5em 0;
  border-color: white;
  align-self: flex-start;
  width: 80%;
}

.list {
  padding: 0;
  margin: .4em 0 0 2em;
  font-size: 1.2em;
}

.list a {
  color: white;
}

.list a:hover {
  color: rgb(133, 133, 133);
}

.list-img {
  margin: .45em;
  font-size: 1.2em;
}

.category-img {
  margin: .3em .3em .3em .5em;
  color: rgb(133, 133, 133);
}


.dialog {
  cursor: pointer;
}

