<div class="book-details-container">

  <div class="return">
    <button routerLink="" type="button" class="return-btn btn btn-outline-secondary"><i class="fas fa-caret-left"></i> Do listy książek</button>
  </div>
  
  <div class="detail-view">
    
    <figure>
      <img src="{{book.imageUrl}}" alt="okładka {{book.title}}" class="book-img img-responsive">
    </figure>
      
    <div class="book-details">
      <h2 class="book-title">{{book.title}}</h2>
      <a routerLink="/authors/{{book.authorId}}" class="author-name">{{book.authorName}}</a>
      <ul class="categories" *ngFor="let category of book.categories">
        <li><a routerLink="/books/category/{{category.id}}">{{category.name}}</a></li>
      </ul>
    </div>

    
    <div class="description">
      <button class="btn btn-dark btn-delete"
      *ngIf="copies.length == 0"
      mwlConfirmationPopover
      [popoverTitle]="popoverTitle"
      [popoverMessage]="popoverMessage"
      placement="left"
      (confirm)="deleteBook(book)"><i class="far fa-trash-alt"></i> Usuń
    </button>

      <button class="btn btn-dark btn-delete"
      *ngIf="copies.length > 0"
      disabled
      mwlConfirmationPopover
      [popoverTitle]="popoverTitle"
      [popoverMessage]="popoverMessage"
      placement="left"
      (confirm)="deleteBook(book)"><i class="far fa-trash-alt"></i> Usuń
    </button>

      <p >{{book.description}}</p>
    </div>
  </div>

  <hr class="solid">
  
  <div class="copies">  
    <h3>Egzemplarze:</h3>
    
    <div *ngIf="copies.length>0" class="table-responsive">
      
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th class="th-sm" scope="col">Numer</th>
            <th class="th-sm center" scope="col">Status</th>
            <th class="th-sm center" scope="col">Stron</th>
            <th class="th-sm center" scope="col">Data wypożyczenia</th>
            <th class="th-sm center" scope="col">Data zwrotu</th>
            <th class="th-sm center" scope="col">Akcja</th>
          </tr>
        </thead>
        <tbody  class="tbody-dark">
          <tr *ngFor="let copy of copies">
            <th>{{copy.id}}</th>
            
            <th class="center text-success" *ngIf="!copy.borrowed">Dostępna</th>
            <th class="center text-danger" *ngIf="copy.borrowed">Wypożyczona</th>
            
            <th class="center">{{copy.pages}}</th>
            
            <th class="center" *ngIf="copy.borrowDate">{{copy.borrowDate | date:'dd-MM-yyyy'}}</th>
            <th class="center" *ngIf="!copy.borrowDate">----------------------</th>
            
            <th class="center" *ngIf="copy.returnDate">{{copy.returnDate | date:'dd-MM-yyyy'}}</th>
            <th class="center" *ngIf="!copy.returnDate">----------------------</th>
            
            <th class="center" >
              <a class="action text-info" *ngIf="copy.borrowed" routerLink="/users/{{copy.userId}}" >Profil</a>
              <a class="action text-info" *ngIf="!copy.borrowed" routerLink="" >Zamow</a>
              <a class="action text-danger"
              mwlConfirmationPopover
              [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage"
              placement="left"
              (confirm)="deleteCopy(copy)">Usuń</a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div *ngIf="copies.length==0" class="copies">
    <h5>Brak egzemplarzy, skontaktuj się z nami po więcej informacji.</h5>
  </div>

  <button (click)="addCopy()" type="button" class="return-btn add-btn btn btn-outline-secondary">Dodaj nową kopie</button>
  
</div>