.book-details {
 position: relative;
 top: 20px;
 left: 160px;   
}

.book-details img {
    width: 200px;
}

.book-details h2 {
    position: relative;
    left: 250px;
    top: 50px;
    font-weight: bold;
    color: black;
}

.book-details .author {
    position: relative;
    bottom: 60px;
    left: 50px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.book-details p {
    position: relative;
    bottom: 170px;
    left: 420px;
    width: 30%;
    min-height: 150px;
    font-size: 20px;
}

.solid {
    position: relative;
    width: 60%;
    right: 420px;
    bottom: 150px;
}

.return {
    position: relative;
    top: 40px;
    left: 45px;
}

.return button {
    font-size: 18px;
    font-weight: 700;
}


.copies {
    position: relative;
    left: 160px;
    bottom: 120px;
}

.table {
    max-width: 50%;
}

.center {
    text-align: center;
}
